#aviso{
    background-color: var(--naranja-secundario);
    font-family: "Dosis", sans-serif;
    font-size: 20px;
    letter-spacing: 0.1em;
    
}
/* Estilos de la Tarjeta */
.puppy-card {
  border: 4px solid #F3B621; /* Borde naranja/dorado */
  border-radius: 15px;
  overflow: hidden;
  position: relative; /* Necesario para el badge absoluto */
  transition: transform 0.3s ease;
  margin-bottom: 20px;
}

.puppy-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

/* Badge de Disponibilidad */
.badge-disponibilidad {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 5px 12px;
  border-radius: 5px;
  font-size: 14px;
  letter-spacing: 0.1em;
  font-weight: bold;
  color: white;
  z-index: 10;
}

/* Imagen */
.card-img-top {
  height: 350px;
  object-fit: cover; /* Mantiene la proporción */
  border-bottom: 2px solid #f0f0f0;
}

i{
  color: var(--verde-principal);
}

.btn-custom{
  font-size: 20px;
}

span{
  font-size: 20px;
}

@media (max-width: 768px) {
  /* Una tarjeta por fila en móvil */
  .col-md-4 {
    width: 100%;
  }

  /* Reduce la altura de la imagen */
  .card-img-top {
    height: 450px;
  }

  /* Botón más pequeño */
  .btn-custom {
    font-size: 16px;
    padding: 8px 12px;
  }
}