<section class="section-padding">
  <div class="container">

    <!-- TÍTULO -->
    <div class="titulo text-center mb-5">
      <h2>Nuestros Servicios</h2>
      <div class="linea"></div>
    </div>

    <div class="row g-4">

      <!-- FILA 1: Laboratorio + Pet Shop y Hotel -->

      <!-- LABORATORIO -->
      <div class="col-md-7">
        <div class="card-servicio laboratorio-card h-100   d-flex flex-column justify-content-center">
          <div class="lab-texto">
            <h3>Servicios Veterinarios Integrales</h3>
            <ul class="ms-4">
              <li>Laboratorio clínico completo (sangre, orina, heces y más)</li>
              <li>Diagnóstico por imagen (radiografías y ecografías)</li>
              <li>Control y seguimiento de gestación</li>
              <li>Procedimientos quirúrgicos generales y especializados</li>
              <li>Desparasitación</li>
              <li>Atención preventiva y tratamientos médicos</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- PET SHOP + HOTEL -->
      <div class="col-md-5 d-flex flex-column gap-4">

        <div class="card-serviciov flex-grow-1">
          <i class="bi bi-bag fs-1"></i>
          <h3>Pet Shop</h3>
          <p>Productos premium seleccionados para la nutrición y diversión.</p>
          <p class="calidad-premium">CALIDAD PREMIUM</p>
        </div>

        <div class="card-servicio flex-grow-1">
          <i class="bi bi-buildings fs-1"></i>
          <h3>Hotel para Mascotas</h3>
          <p>Hospedaje seguro y confortable mientras tú no estás.</p>
        </div>

      </div>

      <!-- FILA 2: Consulta + Venta Cachorros -->

      <!-- CONSULTA -->
      <div class="col-md-7">
        <div class="card-servicio verde d-flex justify-content-between align-items-center stack-mobile h-100">
          <div>
            <h3 class="text-white">Consulta General y Vacunas</h3>
            <p class="text-white">Medicina preventiva para una vida saludable.</p>
          </div>
          <div class="icono-circulo">
            <i class="ti ti-vaccine fs-1"></i>
          </div>
        </div>
      </div>

      <!-- VENTA CACHORROS -->
      <div class="col-md-5">
        <div class="card-servicio h-100">
          <i class="ti ti-paw fs-1"></i>
          <h3>Venta de Cachorros</h3>
          <p>Especialistas en razas pequeñas de alta calidad y pedigree.</p>
        </div>
      </div>

    </div>

    <div class="agenda-cita text-center ">
  <h2>Agenda una cita</h2>
  <p>Ofrecemos un cuidado orgánico y profesional para que tu compañero siempre
    esté en las mejores manos. El bienestar de tu mascota es nuestra prioridad
    absoluta.</p>
  <button class="btn-custom" routerLink="/agendamiento">Agendar Cita</button>
</div>
  </div>
</section>