<div class="container hero-section py-5">
  <div class="row align-items-center">
    
    <div class="col-lg-6 hero-text">
      <h2>
        Encuentra a tu mejor amigo <br>
        The Puppies Home
      </h2>
      
      <p class="textoSegundario">
        Ofrecemos cachorros sanos y felices, listos para un nuevo hogar con sus vacunas al dia.
      </p>

      <div class="button-wrapper">
        <button class="btn-custom" (click)="verCachorrosClick()">
          Ver Cachorros  →
        </button>
      </div>
    </div>

    <div class="col-lg-6 py-5">
      <div class="grid-container">
        <!-- imagen grande -->
        <img src="img/perrito1.png" class="imgGrande">

        <!-- imagen pequena -->
        <img src="img/perrito2.png" class="imgPequena">

        <!-- cuadro verde -->
        <div class="card">
          <p>Certificación<br>Pedigri</p>
          <img src="img/cachorro.svg" class="icono">

        </div>
      </div>
    </div>

  </div>
</div>
