<section class="section-padding">

  <div class="d-flex align-items-center mb-4">
    <div class="badge-numero">2</div>
    <h2 class="ms-3 mb-0">Selecciona un Servicio</h2>
  </div>

  <div class="row g-4">
    @for (s of servicios; track s.nombre) {
      <div class="col-md-6">
        <div
          class="card-servicio"
          [class.active]="servicioSeleccionado === s.nombre"
          (click)="seleccionar(s)">

          <div class="icono-box">
            <i class="{{ s.icono }} fs-1"></i>
          </div>

          <div class="d-flex justify-content-between align-items-center mt-2">
            <h3 class="mb-0">{{ s.nombre }}</h3>
            <span class="precio">${{ s.precio.toFixed(3) }}</span>
          </div>

          <p>{{ s.descripcion }}</p>
        </div>
      </div>
    }
  </div>

</section>
