<section class="section-padding">
  <div class="container">
     <h1 class="text-center espacio-sm">Nuestros Cachorros</h1>

    <div class="banner-cachorros">
       

      <div class="row align-items-center g-4">

        <!-- TEXTO -->
        <div class="col-md-6 text-white">
          
           <div class="contenido-texto"> 
                <h2 class="mb-3 text-white">
                    Comprometidos con el bienestar animal
                </h2>

                <p class="mb-4">
                    En The Puppies Home, no solo vendemos mascotas; creamos familias.
                    Nuestra prioridad es la salud y el temperamento de cada cachorro,
                    especialistas en razas pequeñas.
                </p>
          </div>

          <!-- BENEFICIOS -->
          <div class="beneficios">

            <div class="beneficio">
              <i class="bi bi-shield-check"></i>
              <span>Garantía de salud</span>
            </div>

            <div class="beneficio">
              <i class="bi bi-file-earmark-text"></i>
              <span>Cartilla completa</span>
            </div>

            <div class="beneficio">
              <i class="bi bi-award"></i>
              <span>Pruebas genéticas</span>
            </div>

            <div class="beneficio">
              <i class="bi bi-headset"></i>
              <span>Soporte post-adopción</span>
            </div>

          </div>

        </div>

        <!-- IMÁGENES -->
        <div class="col-md-6">

          <div class="grid-img">

            <img src="img/perrito1.png" class="img-1"alt="">
            <img src="img/perrito2.png" class="img-2"alt="">
            <img src="img/oliver.png" class="img-3" alt="">
            <img src="img/shakira.png" class="img-4" alt="">

          </div>

        </div>

      </div>

    </div>

  </div>
</section>
